@font-face{
    font-family:'SourceSansPro';
    font-style:normal;
    font-weight:normal;
    src:local("SourceSansPro"), url("/fonts/SourceSansPro-Regular.ttf") format("ttf");
} 

.sapMBtnInner{
  color: #fff !important;
  font-family: 'SourceSansPro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px !important;
  font-weight:bold !important;
}
 
.sapMText {
  color: #fff !important;
  line-height: 1.5 !important;
  text-align: justify;
}
 
.titleFooter {
  color: #000 !important;
  font-family: 'SourceSansPro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px !important;
  font-weight:bold;
}
.textFooter {
  color: #000 !important;
}
.subTextFooter {
  font-size: 11px !important;
}


.sapMLnk:not(.sapMLnkDsbl) {
    text-shadow: none  !important;
    color: #002065 !important;
    font-family: 'CorpidRegular300', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.sapMWizardProgressNavStepTitle {
  color: #ffd300 !important;
  font-size: 12px !important;
  font-weight: normal !important;
  margin-left: 0px !important;
  padding-left: 0px !important;
  font-family: 'CorpidRegular300', 'Helvetica Neue', Helvetica, Arial, sans-serif  !important;
}

.titlePage {
  color: #002065 !important;
  font-size: 38px !important;
  font-weight: bold !important;
  margin-left: 0px !important;
  padding-left: 0px !important;
  font-family: 'SourceSansPro', 'Helvetica Neue', Helvetica, Arial, sans-serif  !important;

}

.resultTextBox {
  border: none !important;
  box-shadow: none !important;  
  background-color: #e5f0fa !important;
}

.sapMWizardStep .sapMWizardStepTitle {
  color: #002065 !important;
  font-size: 24px !important;
  font-weight: bold !important;
  font-family: 'SourceSansPro', 'Helvetica Neue', Helvetica, Arial, sans-serif  !important;
}


.sapMBar, .sapMWizard.sapMWizardBgStandard .sapMWizardStepContainer {
  background-color: #000;
}

.sapMFlexBoxAlignContentStretch {
    height: auto;
}

.homePage {
  background-image: url("../image-resources/serviceportal_background.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: #000 !important;
}

.sapUiBody {
  background-color: #000 !important;
  box-shadow: none !important;
    height: calc(100% - 65px) !important;
}


.pageContent {
    max-width: 1020px !important;
    margin: 0 auto !important;
    background-color: #000 !important;    
}

.sapFShellBar {
  background-color: #000 !important;
  min-height: 100px !important;
  box-shadow: none !important;
  margin: 0 auto !important;
  padding: 0 10px !important;
}

.sapFShellBar .sapFShellBarHomeIcon {
    height: 100%;
    vertical-align: bottom;
}

.sapFShellBar .sapMTB-Transparent-CTX .sapFShellBarItem .sapMBtn .sapMBtnIcon {
    color: #ffd300;
}
.sapMBtnTransparent>.sapMBtnIcon {
    color: #ffd300  !important;
}


.sapMPageFooter {
border-top: 1px solid #ffd300 !important;
 background-color: #000 !important;
  box-shadow: none !important;
}


.sapMPageFooter .sapMTB.sapMIBar {
    max-width: 1020px !important;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto !important;
    margin-right: auto !important;
    border: none !important;
    background-color: #000 !important;
    min-height: 64px !important;
    box-shadow: none !important;
}

.pageContentTransparent {
    max-width: 1020px !important;
    height: 50px;
    margin: 0 auto !important;
    padding: 0 0 !important;
}


.sapMWizard {
    max-width: 1020px !important;
    margin: 0 auto !important;
    background-color: #000 !important;
    padding-top: 3px !important;
}

.sapMInputBaseIconContainer .sapMInputBaseIcon {
    color: #ffd300;
}

.sapMInputBaseIcon:active {
    background: #ffd300 !important;
    color: #000;
}

.sapMSelectListItem::after, .sapMSelectListItem:active {
    background: #ffd300 !important;
    color: #000;
}

.sapMSltPressed>.sapMSltArrow {
    background: #ffd300 !important;
}

.sapMWizardProgressNav {
  box-shadow: none !important;
  border-bottom: 1px solid #ffd300 !important;
}

.sapMCbBg.sapMCbMarkChecked:before {
    color: #ffd300;
}



.sapMBtnIcon {
  border-color: transparent;
}

.ButtonBar {
    max-width: 1020px !important;
    margin: 0 auto !important;
    min-height: 65px !important;
    border: none !important;
    box-shadow: none !important;
}



span.sapMBtnInner.sapMBtnTransparent {
  background-color: transparent !important;
  border-color: transparent !important;
}

.sapMFooter-CTX .sapMBtnTransparent {
  background-color: transparent !important;
  border-color: transparent !important;
}
    

.sapMBtnTransparent {
  background-color: transparent !important;
  border-color: transparent !important;
}

.sapMWizardProgressNavStep{
    border-color: #ffd300 !important;
}



.sapMLIB {
border: none;
}
.sapUiFormContainerToolbar>.sapMTB-Transparent-CTX.sapMTB {
    display: none;
}



.sapMWizardProgressNavStep .sapMWizardProgressNavStepContainer::after {
   visibility: hidden;
}

.sapMWizardProgressNavStep[data-sap-ui-wpn-step-current="false"] .sapMWizardProgressNavStepContainer {
    visibility: hidden;
}

.sapMWizardProgressNavStep .sapMWizardProgressNavStepCircle::after {
    visibility: hidden;   
}


.sapMWizardProgressNavStep::after { 
    border-bottom: 1px solid #ffd300 !important;
}

.sapMWizardProgressNavStepCircle {
    background: #000;
    border-color: #ffd300 !important;

    color: #ffd300;
}

.sapMWizardProgressNavStepCircle:hover {
    background: #e5f0fa !important;
}


.sapMWizardProgressNavStep[data-sap-ui-wpn-step-current="true"] .sapMWizardProgressNavStepCircle {
    background: #ffd300 !important;
    border-color: #ffd300 !important;
    color: #000 !important;
}

.sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"]~.sapMWizardProgressNavStep .sapMWizardProgressNavStepCircle {
    border-color: #ffd300 !important;
    background: #000;
    color: #ffd300 !important;
}

.sapMSwtOn .sapMSwtHandle {
    background: #ffd300 !important;
    border-color: #ffd300 !important;
}

.sapMSwt.sapMSwtOn:not(.sapMSwtAcceptReject) {
    background: #e5f0fa;
    border-color: #ffd300;
}

.sapMSwtText.sapMSwtTextOff {
    left: 3.9rem;
}

.sapMSwtText {
    color: #666666;
}

.selectAndHover:hover {

  opacity: 1;
}

.selectAndHover::selection {
  opacity: 1;
}

.addOpacity {
  opacity: 0.9;
}

.resultTextBox .sapUiIcon {
  color: #ffd300;
}



.sapUiIcon, .sapUiIcon:hover, .sapUiIcon:focus {
  color: #ffd300;
}


.sapMPopover {  
    border-radius: 1px !important; 
}


.sapMPopoverHeader .sapMBar .sapMBarMiddle .sapMBarContainer {
    background-color: #ffd300 !important;
}

.sapMIBar-CTX .sapMTitle {
    color: #000 !important;
}

.sapMListTbl {
    border-bottom: 1px solid #002065;
    border-top: 1px solid #002065;
    box-shadow: none  !important;
}

.sapMListTblHighlightCol+.sapMListTblHeaderCell, .sapMListTblHighlightCell+.sapMListTblCell {
    padding-left: 0;
}

.sapMLIBShowSeparator>td {
    border-top: 1px solid #C0DBEC;
    box-shadow: none !important;
}

.genRowTable {   
  font-weight: bold !important;
}

.sapMListTblRow:hover {
    background: #e5f0fa !important;
}


.blauBackground {
    margin-top: 15px;
    max-width: 1020px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    background: #ffd300  !important;
}
.orangBackground {
    background: #fa7f04  !important;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 1020px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.sapMLabel .sapMLabelColonAndRequired {
    display: none;
}

.sapFAvatar {
    height: 55px;
    width: 160px;
}

.sapFShellBar .sapFShellBarProfile::before {
    content: none;
}

.sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont>.sapUiFormElementLbl:not(.sapUiRespGridSpanM12)>.sapMLabel  {
    text-align: initial !important;
}

.sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont>.sapUiFormElementLbl:not(.sapUiRespGridSpanM12), .sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont>.sapUiFormElementLbl:not(.sapUiRespGridSpanL12), .sapUiRespGridMedia-Std-LargeDesktop.sapUiFormResGridCont>.sapUiFormElementLbl:not(.sapUiRespGridSpanXL12) {
    width: 100%;
}



.sapUiFormContainer::selection {
    color: #fa7f04 !important;
    background: #C0DBEC !important;
    border: #ffd300 !important;
outline: #fa7f04 !important;
}

.formImportance {
    flex-grow: 1 !important;
}

/*********** Currency- qm-Input*****************/

.sapMInputBase:not(.sapMInputBaseHasEndIcons):not(.sapMInputBaseHasBeginIcons) .sapMInputBaseContentWrapper {
    min-width: 260px;
}