@font-face{
    font-family:'SourceSansPro';
    font-style:normal;
    font-weight:normal;
    src:local("SourceSansPro"), url("/fonts/SourceSansPro-Regular.ttf") format("ttf");
} 

.sapMBtn {
  height: 100px !important;
  background-color: black;
  border: none;
}

.sapMBtn:hover {
  color:#000 !important;
  background-color: #ffd300;
}

.transparentResult{
  background-color: rgba(255, 255, 255, 0.3);
}

.sapMBtnInner{
  color: #fff !important;
  background-color: black;
  border: none;
  font-family: 'SourceSansPro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight:bold !important;
}

.sapMBtnInner.headerButtonMobile {
  font-size: 12px !important;
}
 
.sapMText {
  color: #fff !important;
  line-height: 1.5 !important;
  text-align: justify;
  font-family: 'SourceSansPro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.sapMTitle {
  color: #fff !important;
}

.sapSuiteClMCInnerBar.sapSuiteClMCSemanticColorNeutral {
    background-color: #ffd300 !important;
}

.titlePage {
  color: #002065 !important;
  font-size: 38px !important;
  font-weight: bold !important;
  margin-left: 0px !important;
  padding-left: 0px !important;
  font-family: 'SourceSansPro', 'Helvetica Neue', Helvetica, Arial, sans-serif  !important;

}

.resultTextBox {
  border: none !important;
  box-shadow: none !important;  
  background-color: #e5f0fa !important;
}


.sapMFlexBoxAlignContentStretch {
    height: auto;
}

.homePage {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: #000 !important;
}

.sapUiBody {
  background-color: #000 !important;
  box-shadow: none !important;
    height: calc(100% - 65px) !important;
}

.pageContent {
    max-width: 1020px !important;
    margin: 0 auto !important;
    background-color: #000 !important;    
}

.sapMBtnTransparent>.sapMBtnIcon {
    color: #ffd300  !important;
}

.pageContentTransparent {
    max-width: 1020px !important;
    height: 50px;
    margin: 0 auto !important;
    padding: 0 0 !important;
}

.sapMBtnIcon {
  border-color: transparent;
}

.ButtonBar {
    max-width: 1020px !important;
    margin: 0 auto !important;
    min-height: 65px !important;
    border: none !important;
    box-shadow: none !important;
}

span.sapMBtnInner.sapMBtnTransparent {
  background-color: transparent !important;
  border-color: transparent !important;
}

.sapMFooter-CTX .sapMBtnTransparent {
  background-color: transparent !important;
  border-color: transparent !important;
}
    

.sapMBtnTransparent {
  background-color: transparent !important;
  border-color: transparent !important;
}

.sapMLIB {
border: none;
}
.sapUiFormContainerToolbar>.sapMTB-Transparent-CTX.sapMTB {
    display: none;
}

.sapMPanelHdr {
  color: #fff;
}